@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
header {
  background-color: #f9de4e;
}
header .nav-bar {
  text-align: center;
  padding-top: 10px;
}
header .nav-bar h1 {
  font-weight: bold;
  font-size: 30px;
}
header .nav-bar .nav-bar__link {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: 4vw;
}
header .nav-bar .nav-bar__link a {
  text-decoration: none;
  color: black;
  padding: 5px 15px 5px 15px;
}
header .nav-bar .nav-bar__link a:hover {
  outline: solid 2px black;
}
header .nav-bar .nav-bar__btn button {
  border-style: none;
  font-size: 16px;
}
header .nav-bar .nav-bar__btn .nav-bar__btn--login {
  background-color: #f9de4e;
}
header .nav-bar .nav-bar__btn .nav-bar__btn--sign {
  border: solid 5px #f9de4e;
  border-radius: 20px;
}
header .header-title-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
header .header-title-img h2 {
  text-align: center;
}
header .header-title-img .header__img img {
  max-width: 100%;
  max-height: 100%;
}
header .header-title-img .header__title {
  align-self: center;
}
header .header-title-img .header__title h2 {
  text-align: start;
  font-size: 5vw;
  padding-left: 12px;
}
header .header-title-img__rectangle {
  position: relative;
  top: 2px;
}

footer hr {
  height: 1px;
  background-color: #f9de4e;
  border: none;
  width: 75%;
  margin: 40px auto 30px auto;
}
footer .footer h2 {
  font-size: 30px;
  border: 3px solid #f9de4e;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 10px;
}
footer .footer__infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5px 0 10px;
}
footer .footer__infos .img-svg,
footer .footer__infos .img-phone {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .footer__infos .img-print {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
}
footer .footer__infos .img-print img {
  margin-right: 5px;
}
footer .logo-social-media {
  justify-content: space-between;
  align-items: center;
}
footer .logo-social-media p {
  text-align: center;
  margin-bottom: 10px;
}
footer .logo-social-media img {
  margin-right: 23px;
  flex-grow: 1;
  cursor: pointer;
}
footer .footer__contact ul {
  display: flex;
  padding: 10px;
  margin: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer__contact a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: end;
  opacity: 0.5;
}

@media screen and (min-width: 376px) {
  body header .nav-bar {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
  }
  body header .nav-bar h1 {
    font-size: 3vw;
  }
  body header .nav-bar .nav-bar__link {
    margin: auto;
    font-size: 3vw;
    justify-content: flex-start;
  }
  body header .nav-bar .nav-bar__link a {
    margin: 0 10px 0 10px;
  }
  body .section .section-invoices h2 {
    font-size: 4vw;
  }
  body .section .section-contacts h2 {
    font-size: 4vw;
  }
  body .section .section-companies h2 {
    font-size: 4vw;
  }
  body .section table {
    align-items: center;
    font-size: 2vw;
    margin: auto;
  }
}
body {
  font-family: "Inter", sans-serif;
}
body img {
  max-width: 100%;
  max-height: 100%;
}
body h2 {
  font-weight: bold;
}
body .section h2 {
  margin: 20px 0 0 20px;
  margin-bottom: 60px;
  font-size: 30px;
  clear: right;
}
body .section .section-contacts__searchbar {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
}
body .section .section-contacts__searchbar input {
  border: solid 1px gray;
  border-radius: 10px;
  padding: 5px;
}
body .section .section-invoices__searchbar {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
}
body .section .section-invoices__searchbar input {
  border: solid 1px gray;
  border-radius: 10px;
  padding: 5px;
}
body .section .section-companies__searchbar {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
}
body .section .section-companies__searchbar input {
  border: solid 1px gray;
  border-radius: 10px;
  padding: 5px;
}
body .section table {
  display: flex;
  flex-direction: column;
  margin: 20px 5px 20px 5px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}
body .section table tbody tr td {
  padding: 5px 10px 5px 0;
  width: 100px;
}
body .section table th {
  background-color: #f9de4e;
  text-align: left;
  padding: 5px 5px 5px 2px;
}
body .section table tr:nth-child(odd) {
  background-color: #f5f5f5;
}
body .section table tr:hover {
  background-color: #ddd;
}
body .section .section-invoices h2 {
  background-image: url(../img/rectangle_title_invoices.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .section .section-invoices .section-invoices__img img {
  float: right;
  width: 25%;
  height: auto;
}
body .section .section-contacts h2 {
  background-image: url(../img/rectangle_title_contacts.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .section .section-contacts .section-contacts__img img {
  width: 25%;
  height: auto;
}
body .section .section-companies {
  margin-bottom: 80px;
}
body .section .section-companies h2 {
  background-image: url(../img/rectangle_title_companies.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .bot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0px 20px 0px;
  background-image: url(../img/rectangle_footer.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
body .bot .bot__title {
  text-align: start;
  align-self: center;
  padding-left: 20px;
  font-size: 23px;
  text-transform: uppercase;
}