header {
  background-color: #f9de4e;
  .nav-bar {
    text-align: center;
    padding-top: 10px;
    h1 {
      font-weight: bold;
      font-size: 30px;
    }
    .nav-bar__link {
      display: flex;
      justify-content: space-around;
      margin: 10px;
      font-size: 4vw;
      a {
        text-decoration: none;
        color: black;
        padding: 5px 15px 5px 15px;
      }
      a:hover {
        outline: solid 2px black;
      }
    }
    .nav-bar__btn {
      button {
        border-style: none;
        font-size: 16px;
      }
      .nav-bar__btn--login {
        background-color: #f9de4e;
      }
      .nav-bar__btn--sign {
        border: solid 5px #f9de4e;
        border-radius: 20px;
      }
    }
  }
  .header-title-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h2 {
      text-align: center;
    }
    .header__img {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .header__title {
      align-self: center;
      h2 {
        text-align: start;
        font-size: 5vw;
        padding-left: 12px;
      }
    }
  }
  .header-title-img__rectangle {
  }
}
