@media screen and (min-width: 376px) {
  body {
    header {
      .nav-bar {
        padding: 40px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 3vw;
        }
        .nav-bar__link {
          margin: auto;
          font-size: 3vw;
          justify-content: flex-start;
          a {
            margin: 0 10px 0 10px;
          }
        }
      }
    }
    .section {
      h2 {
      }
      .section-invoices {
        h2 {
          font-size: 4vw;
        }
      }
      .section-contacts {
        h2 {
          font-size: 4vw;
        }
      }
      .section-companies {
        h2 {
          font-size: 4vw;
        }
      }
      table {
        align-items: center;
        font-size: 2vw;
        margin: auto;
      }
    }
    .bot {
      background-image: url(../img/rectangle_footer_web.svg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }
}
