@media screen and (min-width: 376px) {
  body {
    header {
      .nav-bar {
        padding: 40px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 3vw;
        }
        .nav-bar__link {
          margin: auto;
          font-size: 2.5vw;
          justify-content: flex-start;
          a {
            margin: 0 10px 0 10px;
          }
        }
        .nav-bar__btn {
          button {
            width: 100px;
            height: 50px;
          }
        }
      }
      .header-title-img__rectangle {
        img {
          width: 1800px;
        }
      }
    }
    .section {
      .section-contacts__searchbar {
        // position: relative;
        // right: 170px;
        position: sticky;
      }
      .section-invoices {
        h2 {
          font-size: 4vw;
        }
      }
      .section-contacts {
        h2 {
          font-size: 4vw;
        }
      }
      .section-companies {
        h2 {
          font-size: 4vw;
        }
      }
      table {
        align-items: center;
        font-size: 2vw;
        margin: auto;
      }
    }
    .bot {
      background-image: url(../img/rectangle_footer_web.svg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
    footer {
      section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .footer {
          h2 {
            font-size: 5vw;
            padding: 5px;
          }
        }
        .footer__infos {
          margin: auto;
          flex-direction: row;
          .img-svg {
            margin: 0 0 10px 0;
            img {
              margin: 0 20px 0 20px;
            }
          }
          .img-phone {
            margin: 0 0 10px 0;
            img {
              margin: 0 20px 0 20px;
            }
          }
          .img-print {
            margin: 0 0 10px 0;
            img {
              margin: 0 20px 0 20px;
            }
          }
          .logo-social-media {
            display: flex;
            margin-top: 20px;
            img {
              margin: 0 20px 0 20px;
            }
            p {
              color: #c4cdd5;
              margin: auto;
            }
          }
        }
        .footer__contact {
          ul {
            li {
              a {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
