.dashboard__header__info__message {
  position: relative;
}

.dashboard-img__rectangle {
  position: relative;
  width: 1044px;
  height: 206px;
  top: 175px;
  left: 337px;
  border-radius: 10px;
  background-color: #9698d6;
  z-index: 1;
}

.dashboard__header__info__message h2,
.dashboard__header__info__message p,
.dashboard__header img {
  position: absolute;
}

.dashboard__header img {
  width: 471px;
  height: 333px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.dashboard__header__info__message h2 {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 42px;
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align:start;
}

.dashboard__header__info__message p {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 282px;
  height: 36px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  text-align:left;
}

   

  main {
    &__sidebar {
      .dashboard__sidebar__burger {
        width: 285px;
        height: 1278px;
        top: 54px;
      }

      .dashboard__sidebar__menu {
        img {
          width: 105px;
          height: 105px;
          top: 54px;
          left: 88px;
        }

        p {
          width: 82px;
          height: 58px;
          top: 180px;
          left: 99px;
          font-family: Roboto;
          font-size: 25px;
          font-weight: 900;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: center;
        }

        nav {
          ul {
            li {
              width: 106px;
              height: 24px;
              top: 339px;
              left: 88px;

              img {
                width: 22px;
                height: 22px;
                top: 342px;
                left: 39px;
                border-radius: 3px;
                border: 1px;
              }

              a {
                width: 246px;
                height: 28px;
                top: 336px;
                left: 39px;
                border: 1px;
              }
            }
          }
        }

        div {
          img {
            width: 48px;
            height: 48px;
            top: 1284px;
            left: 18px;
          }

          a {
            width: 67px;
            height: 24px;
            top: 1296px;
            left: 201px;
          }
        }
      }
    }

    article.container__main {
      section.dashboard__container__statistics {
        width: 507px;
        height: 232px;
        top: 441px;
        left: 337px;
        border-radius: 10px;

        h3 {
          width: 84px;
          height: 22px;
          top: 465px;
          left: 367px;
        }
      }

      section.dashboard__container__invoices {
        width: 507px;
        height: 403px;
        top: 441px;
        left: 879px;
        border-radius: 10px;
        border: 1px;

        h3 {
          width: 84px;
          height: 22px;
          top: 465px;
          left: 367px;
        }
      }

      section.dashboard__container__contacts {
        width: 507px;
        height: 403px;
        top: 702px;
        left: 337px;
        border-radius: 10px;
        border: 1px;

        h3 {
          width: 84px;
          height: 22px;
          top: 465px;
          left: 367px;
        }
      }

      section.dashboard__container__company {
        width: 507px;
        height: 403px;
        top: 873px;
        left: 874px;
        border-radius: 10px;
        border: 1px;

        h3 {
          width: 84px;
          height: 22px;
          top: 465px;
          left: 367px;
        }
      }
    }
  }

