body {
  font-family: "Inter", sans-serif;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  h2 {
    font-weight: bold;
  }
  .header-title-img {
    background-color: #f9de4e;
    display: flex;
    .header__img {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  header {
    background-color: #f9de4e;
    .nav-bar {
      h1 {
      }
      .nav-bar__link {
        a {
          text-decoration: none;
          color: black;
        }
      }
      .nav-bar__btn {
        button {
          border-style: none;
        }
        .nav-bar__btn--login {
          background-color: #f9de4e;
        }
        .nav-bar__btn--sign {
          border-radius: 20px;
        }
      }
    }
  }
  .section {
    table {
      th {
        background-color: #f9de4e;
      }
      tr:nth-child(odd) {
        background-color: #f5f5f5;
      }
    }
  }
  footer {
    .footer {
      h2 {
        border: 3px solid #f9de4e;
        width: min-content;
      }
    }
    .footer__contact {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
